.movie-grid-root {
	min-height: 100vh;
	overflow: hidden;
	background: #f2f2f2;
}

.movie-grid-search {
	margin: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movie-grid-list {
	flex-grow: 1;
}

.movie-grid-empty {
	text-align: center;
	color: #3f51b5;
}

.movie-grid-error {
	text-align: center;
	color: #cb0000;
}
